.git
.gitignore
.dockerignore
Dockerfile

node_modules
dist
dist-ssr

*.log
*.tmp
*.bak
*.orig
.DS_Store

runtime
data
config
music
logs
*.db
*.db-journal
*.sqlite

src
pom.xml
README.md

target/*
!target/quarkus-app/
!target/quarkus-app/**
